sqlalchemy
connexion
swagger-ui-bundle
Flask==1.1.1
Flask-SQLAlchemy
Psycopg2==2.8.4
Prettytable
matplotlib # this and the following packages are required only for running the PyNotebook in /demo/
pandas
jupyter
notebook
